body {
  font-family: -apple-system, BlinkMacSystemFont, 'Karla', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Markazi Text';
  font-size: 64px;
  font-weight: normal;
}

h2 {
  font-family: 'Markazi Text';
  font-size: 40px;
  font-weight: normal;
}

.lead {
  font-size: 18px;
  font-weight: normal;
}

a:visited {
  color: black;
}

a:link {
  color: black;
}

button {
  height: 3.5rem;
  background-color: #F4CE14;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  padding: 15px 32px;
  font-size: 16px;
}